* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.left-sidebar {
  width: 230px;
  min-height: 100%;
  background: #2f4050;
  position: absolute;
  border-right: 3px solid #00b39f;
  z-index: 99;
}
.top-sidebar {
  background: #f4f4f4;
  border-bottom: 3px solid #e8e8e8;
  padding: 12px;
}
.main-wrapper {
  padding-left: 230px;
}
